$white: #FFFFFF;
$body: #E5E5E5;
$shadow: 0px 24px 80px rgba(0, 0, 0, 0.1);
$gradient: linear-gradient(180deg, #428A60 0%, #35734F 100%);
$text: #212121;
$gray-bg: #F8F8F8;
$green: #428A60;
$input-border: 1px solid #E4E4E4;